<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>perm_identity</mat-icon>
        <span>Hi, {{authed?.username}}</span>
      </button>
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
